<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <form class="form-container" action="/signin" method="post">
        <h5>LOGIN USUARIO</h5>
        Email: <input type="email" name="email" required />
        Senha: <input type="password" name="password" required />
        <input type="submit" value="Login" />
        <% if (message) { %>
            <p class="error" ><%= message %></p>
          <% } %>
      </form>
      


</body>
</html>