<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script>
        function check(input) {
            if (input.value !== document.getElementById('password').value) {
                input.setCustomValidity('Senhas diferentes');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
</head>

<body>

        <form class="form-container" action="/signup" method="post">
             <h5>CADASTRO USUÁRIO</h5>
            Nome Completo: <input type="text" name="name"  required/><br />
            Data de nascimento: <input type="date" name="dataNascimento"  required/><br />
            Gênero: <select name="genero"  required> <br>
                <option name="feminino">feminino</option>
                <option name="masculino">masculino</option>
            </select> <br>
            Telefone: <input type="tel" name="telefone"  required> <br>
            Email: <input type="email" name="email" />
            <% if (message) { %>
                <p class="error" ><%= message %></p>
              <% } %>
          
        <label for="password">Senha:</label>
        <input type="text" id="password" name="password" required>

        <label for="confirm-password">Confirme sua Senha:</label>
        <input type="password" id="confirm-password"  required oninput="check(this)" required>
        <p id="message"></p>
        <input type="submit" value="Save" /><br>
        </form>

</body>

</html>