<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de Carros</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <header class="header-topo">
        <div class="header-nav">
            <ul>
              <li><a href="aluguel">Alugueis</a></li>
              <li><a href="/admin/loja">Loja</a></li>
              <li><a href="/logout">Sair</a></li>
            </ul>
        </div>
    </header>

    <form class="form-container" action="/add-carro" method="post">

       imagem: <input type="url" name="imagem"> <br>
       nome: <input type="text" name="nome" > <br>
       marca: <input type="text" name="marca"> <br>
       cor: <input type="text" name="cor" id=""> <br>
       valor: <input type="number" name="valor"> <br>
       preço da diaria <input type="number" name="precoDiaria"> <br>
       <input type="submit" value="Salvar" /><br>
    </form>
</body>
</html>